* {

    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    appearance: none;
}

body {

    background-color: #8a51fc;
}

.img-logo {

    width: 300px;
    display: block;
    margin: 20px auto;

}

main {

    width: 375px;
    height: 712px;
    background-color: #F4F4F4;
    border-radius: 20px;
    padding: 44px 24px 23px 24px;
    display: block;
    margin: 0 auto;


}

label {

    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #777777;

}

select,
input {

    width: 327px;
    height: 48px;
    border-radius: 4px;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 16px;
    color: #555555;
    padding-left: 17px;
    outline: none;

    border: 1px solid #BBBBBB;
    cursor: pointer;


}

button {

    width: 327px;
    height: 48px;
    border-radius: 5px;
    margin-bottom: 36px;
    background-color: #772FD3;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color:#FFFFFF;

    border: 1px solid #BBBBBB;

    cursor: pointer;

}

button:hover {

    opacity: 0.8;

}

button:active {

    opacity: 0.6;

}

.container {

    width: 327px;
    height: 276px;
    border-radius: 20px;

    border: 1px solid #772FD3;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 12px;
    padding-top: 12px;

    
 
}

.currency-box {

    display: flex;
    flex-direction: column;
    align-items: center;

}

.arrow{

    width: 35px;
    margin: 15px auto;

}

.currency-img-convert, .currency-img-converted {

    width: 44px;

}

p {

    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #777777;

}

.currency-value-convert,
.currency-value-converted {


    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    color: #555555;


}